.input {
    outline: none;
    border: none;
    background-color: var(--primary);
}

.input::placeholder {
    color: var(--accent);
    font-family: interb;
    font-size: 1rem;
}

.input:focus {
    animation: toColor 0.5s forwards;
}

@keyframes toColor {
    0% {
        background-color: var(--primary);
    }
    100% {
        background-color: var(--select);
    }
}