:root {
    --background: #292D36;
    --bg: #141417;
    --primary: #494C53;
    --accent: #DCE2F2;
    --select: #586070;
    --activeIndicator: #dddbdb;
}

@font-face {
    font-family: interb;
    src: url('../../public/assets/fonts/Inter-Bold.ttf');
}

@font-face {
    font-family: interl;
    src: url('../../public/assets/fonts/Inter-Light.ttf');
}

@font-face {
    font-family: interm;
    src: url('../../public/assets/fonts/Inter-Medium.ttf');
}

@font-face {
    font-family: interr;
    src: url('../../public/assets/fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: pjs-b;
    src: url('../../public/assets/fonts/PlusJakartaSans-Bold.ttf');
}

@font-face {
    font-family: sfpro;
    src: url('../../public/assets/fonts/SFPro.ttf');
}

* {
    user-select: none;
}

body.panel {
    background-color: #1d1f20;
    margin: 0;
    padding: 0;
    display: flex;
}

body.login {
    background-color: var(--background);
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}