.sidebar {
    position: relative;
    width: 22rem;
    height: 100vh;
    background-color: var(--bg);
    border-radius: 0rem 4rem 4rem 0rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.308);
    display: flex;
    flex-direction: column;
}

.header {
    position: relative;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.toggle {
    position: relative;
    width: 3rem;
    margin-left: 1.5rem;
    margin-right: 0;
    cursor: pointer;
}

.header .title {
    position: relative;
    font-family: interb;
    font-size: 1rem;
    color: white;
    margin-left: 3.5rem;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .item {
    position: relative;
    display: flex;
    margin-top: 1.5rem;
    align-items: center;
    cursor: pointer;
    padding-right: 3rem;
    border-radius: 0rem 3rem 3rem 0rem;
    width: 12rem;
}

.content .item-name {
    position: relative;
    font-family: interb;
    font-size: 1.1rem;
    color: white;
    margin-left: 2rem;
    text-align: left;
}

.content .item-icon {
    position: relative;
    width: 2rem;
    margin-left: 1rem;
}

.content .list {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-right: 3.5rem;
}

.content .item:hover {
    background-color: var(--background);
}

.content .sb-active {
    background-color: var(--background);
}

.activeIndicator {
    position: relative;
    background-color: var(--activeIndicator);
    height: 100%;
    width: 0.5rem;
    border-radius: 0rem 1rem 1rem 0rem;
}